html{
    height:100%;
}

body{
    width:100%;
    height:100%;
    background:url("images/image.jpg") rgb(0,82,0);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
}

#header{  
    display:flex;
}

h1{
    color:white;
    text-shadow:2px 2px 5px rgb(0, 82, 0);
    font-family:monospace;
    font-size: 50px;
    padding-right:15px;
    margin-left: 30px; 
    margin-right:auto;
    flex-shrink: 0;
}

#username-tag{
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    font-weight: 100;
    padding-right: 10px;
    margin-left: auto;
    margin-top:60px;
    flex-shrink: 0;
}

#logout{
    height:40px;
    font-size: medium;
    padding: 10px 15px;
    background-color: #1e6e1e;
    color:white;
    border-radius:3px;
    border:none;
    transition:0.5s ease;
    cursor:pointer;
    margin:50px 30px 0px 5px;
    flex-shrink: 0;
}

#board-container{
    display:flex;   
    justify-content: center;
    width:100%;
}

.container-column{
    margin-top:50px;   
    flex-shrink: 0; 
}

.container-box{
    display:flex;
    flex-direction: column;
    justify-content: start;
    flex-shrink:0;
    background-color:rgba(255, 248, 248, 0.5);
    padding:10px;
    margin:10px;
    width: 270px;
    border-radius:10px;
}

.column-title{
    font-weight: bold;
    color:rgba(0, 0, 0, 0.801);
    margin-left: 10px;
    outline:none;
}

.card-drop{
    padding:10px;
}

.card{
    background-color: rgb(255, 255, 255);   
    padding:10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(255, 146, 164);    
    overflow-wrap: break-word;
    transition:0.3s ease;
    margin:2px;
}

.card:hover{
    box-shadow: 2px 2px 10px 1px rgb(231, 109, 129); 
    padding:12px;
    margin:0px;
}

.delete-card{
    background-color: rgb(255, 255, 255);
    padding:0;
    float: right;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:3px black;
    margin:0;
}

.items textarea{
    width:266px;
    height:39px;
    box-sizing: border-box;
    outline:none;
    padding:10px;
    margin:2px;
    color:black;
    background-color:rgb(202, 199, 199) ;
    border:0px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(70, 66, 67);
    resize:none;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

.items textarea::placeholder{
    color:rgb(85, 85, 85);
}

.items textarea:hover{
    background-color: rgb(233, 225, 225) ;
}

.items textarea:focus{
    cursor:auto;
}

button{
    font-size: medium;
    padding: 10px 15px;
    background-color: #1e6e1e;
    color:white;
    margin-top:5px;
    float:left;
    margin:2px;
    margin-right:5px;
    border-radius:5px;
    border:none;
    cursor:pointer;
}

.list-delete{
    float:left;
    color:black;
    background-color: rgba(255, 255, 255, 0);
    color:rgb(238, 236, 236);
    padding:0px;
    font-size: 30px;
    height:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list-delete:hover{
    color:white;
}

.add-item:hover{
    background-color: #2dac2d;   
}

#logout:hover{
    background-color: #2dac2d;   
}

.card:hover .delete-card{
    color:rgb(109, 108, 108);
}

/* for the login section*/

#login-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

#login-column{
   flex-shrink:0;
}

#login-board{
    display:flex;
    flex-direction: column;
    justify-content:start;
    flex-shrink: 0;
    background-color:rgba(255, 255, 255, 0.5);
    padding:10px;
    margin-top:200px;
    width: 400px;
    border-radius:10px;
}

p{
    text-align: center;
    font-size: medium;
}

#login{
    font-weight:500;
    font-size: large;
}

.field{
    padding:10px;
    margin:10px;
    border-radius:5px;
    box-sizing: border-box;
    border:0;
    transition:0.4s ease;
    outline:none;
    box-shadow: 2px 2px 5px pink;  
    font-size: medium;
}

#message-label{
    padding:5px;
    color:rgb(228, 25, 25);
}

#sign-in-button{
    padding:10px;
    margin:10px 100px 20px 100px;
    border-radius: 25px;
    color:white;
    transition:0.5s ease;
    background-color: #1e6e1e;
    cursor:pointer;
    border:none;
    font-size: medium;
}

#sign-in-button:hover{
    background-color: #2dac2d;   
}

#sign-up-button{
    padding:10px;
    margin:10px 100px 20px 100px;
    border-radius: 25px;
    color:white;
    transition:0.5s ease;
    background-color: #1e6e1e;
    cursor:pointer;
    border:none;
    font-size: medium;

}

#sign-up-button:hover{
    background-color: #2dac2d;   
}

#create-new-account{
    color:rgb(199, 199, 199);
    text-decoration-line: underline;
    transition:0.4s ease;
    cursor:pointer;
    font-size: small;
}

#back{
    color:rgb(199, 199, 199);
    text-decoration-line: underline;
    transition:0.4s ease;
    cursor:pointer;
    font-size: small;
}

#create-new-account:hover{
    font-size: medium;
}

#back:hover{
    font-size: medium;
}

.field:focus{
    box-shadow: 2px 2px 10px 1px rgb(243, 122, 142);
    padding:14px;
    margin:8px;
}
